In [1]:
import pandas as pd


df = pd.read_csv('mvidevo_test.csv')

In [22]:
new_columns = list(map(lambda x: x.strip('"'), df.columns[0].split(',')))

In [27]:
df[new_columns] = df[df.columns[0]].str.split(',', expand=True)
df.drop(columns=df.columns[0], inplace=True)
df

    Количество больничных дней Возраст  Пол
0                            5      39  "Ж"
1                            4      54  "М"
2                            4      26  "М"
3                            5      42  "М"
4                            4      29  "М"
..                         ...     ...  ...
232                          5      30  "М"
233                          4      36  "Ж"
234                          2      60  "Ж"
235                          2      44  "Ж"
236                          3      37  "М"

[237 rows x 3 columns]

In [31]:
df['Количество больничных дней'] = df['Количество больничных дней'].astype(int)
df['Возраст'] = df['Возраст'].astype(int)

TypeError: astype() got an unexpected keyword argument 'inplace'